@import "../../utils/config";

.profile {
  @include flex-settings($direction: column, $align: center);
  @include section-settings($p-top: 148px);
}
.profile__title {
  margin: 0 0 123px 0;
  @include font-settings($height: 29px, $weight: 500, $size: 24px);
}
.profile__container {
  @include flex-settings($justify: space-between);
  width: 410px;
  border-bottom: $border-bottom;
  padding-bottom: 16px;
}
.profile__container:nth-of-type(2n) {
  border-bottom: none;
  padding-top: 16px;
  padding-bottom: 10px;
}
.profile__label {
  @include flex-settings($direction: column);
  width: 150px;
}
.profile__field {
  outline: none;
  padding: 0;
  border: 1px solid #000;
  text-align: right;
  color: #000;
  background-color: transparent;
}
.profile__field:focus {
  outline: 1px solid #808080;
}
.profile__field:disabled {
  border: none;
  cursor: text;
}
.profile__text {
  margin: 0;
  @include font-settings($height: 14px, $weight: 400, $size: 11px);
}
.profile__text_type_bold {
  @include font-settings($weight: 500);
}
.profile__box {
  margin-top: 210px;
  @include flex-settings($direction: column, $align: center);
  gap: 17px;
}
.profile__success {
  display: none;
  @include font-settings($height: 12px, $weight: 400, $size: 10px);
  color: green;
  margin: 0;
}
.profile__success_active {
  display: block;
}
.profile__btn {
  background-color: transparent;
  padding: 0;
  border: none;
  @include font-settings($height: 16px, $weight: 400, $size: 13px);
  cursor: pointer;
  width: fit-content;
}
.profile__btn_type_exit {
  @include font-settings($weight: 500);
  color: #EE3465;
}
.profile__btn_active {
  border: 1px dashed #000;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color .3s ease;
  width: 100%;
}
.profile__btn_active:hover {
  background-color: rgba(0, 0, 0, .1);
}
.profile__btn_active:disabled {
  border: 1px dashed #808080;
  color: #808080;
  opacity: .6;
  cursor: default;
}
.profile__btn_active:disabled:hover {
  background-color: unset;
}

@media screen and (max-width: 1279px) {
  .profile__title {
    margin-bottom: 96px;
  }
  .profile__box {
    margin-top: 200px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    @include section-settings($p-top: 144px);
  }
  .profile__title {
    margin-bottom: 80px;
  }
  .profile__container {
    width: 260px;
  }
  .profile__text {
    @include font-settings($height: 13px, $size: 11px);
  }
  .profile__box {
    margin-top: 369px;
    gap: 16px;
  }
  .profile__btn {
    @include font-settings($height: 15px, $size: 12px);
  }
}