@import "../../utils/config";

.banner {
  position: relative;
  box-sizing: border-box;
  @include section-settings($p-top: 149px, $p-bottom: 75px, $bg: #DDDEE3);
}
.banner__title {
  @include font-settings($height: 58px, $weight: 400, $size: 50px);
  margin: 0;
  max-width: 640px;
}
.banner__subtitle {
  @include font-settings($height: 16px, $weight: 400, $size: 13px);
  margin: 36px 0 0 0;
  max-width: 310px;
  opacity: .5;
}
.banner__link {
  @include font-settings($height: 16px, $weight: 500, $size: 12px);
  color: #000;
  border: 1px solid rgba(0, 0, 0, .6);
  border-radius: 3px;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 146px;
}
.banner__planet {
  background-image: url(../../images/banner-planet.png);
  background-size: 100% 100%;
  width: 310px;
  height: 304px;
  position: absolute;
  top: 149px;
  right: 70px;
}

@media screen and (max-width: 768px) {
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 214px 0 76px 0;
  }
  .banner__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
  }
  .banner__title {
    @include font-settings($height: 50px, $size: 40px);
    text-align: center;
    max-width: 680px;
    margin-top: 48px;
  }
  .banner__subtitle {
    margin-top: 22px;
    max-width: 260px;
    text-align: center;
  }
  .banner__link {
    margin-top: 92px;
  }
  .banner__planet {
    position: static;
    order: 1;
  }
}