@import "../../utils/config";

.navigation__lists {
  @include flex-settings;
  gap: 16px;
  margin-left: 60px;
}
.navigation__list {
  @include font-settings($height: 18px, $weight: 400, $size: 13px);
}
.navigation__list_type_profile {
  position: absolute;
  bottom: 90px;
  left: 0;
  width: 100%;
  display: none;
}
.navigation__list_type_display {
  display: none;
}
.navigation-link-active {
  @include font-settings($weight: 500);
}

@media screen and (max-width: 1279px) {
  .navigation {
    background-image: url(../../images/icon/burger-menu.svg);
    background-size: 44px 44px;
    width: 44px;
    height: 44px;
    cursor: pointer;
  }
  .navigation__container {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: $section-bg-color;
    height: 100vh;
    width: 520px;
    cursor: auto;
    display: none;
  }
  .navigation__container_active {
    display: block;
  }
  .navigation__lists {
    gap: 28px;
    margin: 159px 0 0 0;
    @include flex-settings($direction: column, $align: center);
  }
  .navigation__list {
    @include font-settings($height: 22px, $weight: 500, $size: 18px);
  }
  .navigation__list_type_display {
    display: block;
  }
  .navigation__list_type_profile {
    @include flex-settings($justify: center);
  }
  .navigation-link-active {
    padding-bottom: 4px;
    border-bottom: 2px solid #000;
  }
  .navigation__cross {
    position: absolute;
    top: 22px;
    right: 22px;
    background-image: url(../../images/icon/cross.svg);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    background-size: 40px 43px;
    width: 40px;
    height: 43px;
  }
  .navigation__container {
    width: 100%;
  }
  .navigation__lists {
    gap: 24px;
    margin-top: 144px;
  }
  .navigation-link-active {
    padding-bottom: 7px;
  }
  .navigation__list_type_profile {
    bottom: 46px;
  }
  .navigation__cross {
    top: 14px;
    right: 14px;
  }
}