@import "../../utils/config";

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  @include section-settings($p-top: 18px, $p-bottom: 18px);
  box-sizing: border-box;
}
.header_type_sign {
  position: static;
  max-width: 396px;
  margin: 0 auto;
  @include section-settings($p-top: 0, $p-bottom: 40px);
}
.header__container {
  margin-right: 70px;
  margin-left: 70px;
  @include flex-settings($justify: space-between, $align: center);
}
.header__container_type_movies {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}
.header__container_type_sign {
  margin: 0;
}
.header__logo {
  background-image: url(../../images/icon/logo.svg);
  background-size: 100% 100%;
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 1279px) {
  .header {
    @include section-settings($p-top: 18px, $p-bottom: 18px);
    padding-right: 22px;
    padding-left: 22px;
  }
  .header_type_sign {
    @include section-settings($p-top: 0, $p-bottom: 40px);
    padding-right: 0;
    padding-left: 0;
  }
  .header__container {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-right: 14px;
    padding-left: 14px;
  }
  .header_type_sign {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 50px;
  }
  .header__container_type_sign {
    justify-content: center;
  }
}