@import "../../vendor/config";

.header {
  position: absolute;
  top: 18px;
  left: 0;
  z-index: 1;
  width: 100%;
}
.header__container {
  display: $display;
  justify-content: space-between;
  margin: 0 70px;
  align-items: center;
}
.header__logo {
  background-image: url(../../images/logo.svg);
  background-size: 100% 100%;
  width: 38px;
  height: 38px;
}
.header__lists {
  display: flex;
  gap: 16px;
}
.header__list {
  @include font-settings($height: 18px, $weight: 400, $size: 13px);
}
.header__list-link {
  color: #000;
}
.header__list-link_active {
  font-weight: 500;
}
.header__link-profile {
  @include font-settings($height: 12px, $weight: 500, $size: 13px);
  color: #000;
  padding: 10px 11px;
  background-color: #FAFAFA;
  border-radius: 40px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, .08);
}
// .header__link-profile::after {
//   content: '';
//   background-image: url('../../images/profile.svg');
//   background-size: 100% 100%;
//   width: 11px;
//   height: 11px;
//   padding: 7px;
//   box-sizing: border-box;
//   background-color: #F4F4F4;
//   border-radius: 50px;
// }