@mixin font-settings($height: default, $weight: default, $size: default) {
  line-height: $height;
  font-weight: $weight;
  font-size: $size;
}
@mixin section-settings($p-top: default, $p-bottom: default, $bg: default) {
  padding-top: $p-top;
  padding-bottom: $p-bottom;
  background-color: $bg;
}
$text-color: #A0A0A0;