$display: flex;
@mixin font-settings($height, $weight, $size) {
  line-height: $height;
  font-weight: $weight;
  font-size: $size;
}

.about-project {
  padding-top: 110px;
}
.about-project__title {
  @include font-settings($height: 27px, $weight: 400, $size: 22px);
  margin: 0;
  border-bottom: 1px solid #000;
  padding-bottom: 23px;
  letter-spacing: -0.04em;
}
.project-info {
  display: $display;
  justify-content: space-between;
  margin-top: 70px;
}
.project-info__title {
  @include font-settings($height: 24px, $weight: 400, $size: 20px);
  margin: 0;
  letter-spacing: -0.04em;
}
.project-info__desc {
  @include font-settings($height: 20px, $weight: 400, $size: 14px);
  margin: 26px 0 0 0;
  max-width: 550px;
}
.passing {
  display: $display;
  margin-top: 110px;
}
.passing__container {
  display: $display;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
.passing__container_size_l {
  flex-grow: 2;
}
.passing__background {
  padding: 9px 0;
  display: $display;
  justify-content: center;
}
.passing__background_type_blue {
  background-color: #3456F3;
  min-width: 228px;
}
.passing__background_type_gray {
  background-color: #F2F2F2;
  width: 100%;
}
.passing__time {
  @include font-settings($height: 17px, $weight: 400, $size: 14px);
  margin: 0;
}
.passing__time_type_blue {
  color: #fff;
}
.passing__direction {
  @include font-settings($height: 17px, $weight: 500, $size: 14px);
  margin: 0;
  color: #A0A0A0;
}