@import "../../utils/config";

.about-project {
  @include section-settings($p-top: 110px, $p-bottom: 110px, $bg: $section-bg-color);
}
.project-info {
  @include flex-settings($justify: space-between);
  margin-top: 70px;
}
.project-info__title {
  @include font-settings($height: 24px, $weight: 400, $size: 20px);
  margin: 0;
  letter-spacing: -0.04em;
}
.project-info__desc {
  @include font-settings($height: 20px, $weight: 400, $size: 14px);
  margin: 26px 0 0 0;
  max-width: 550px;
}
.passing {
  @include flex-settings;
  margin-top: 110px;
}
.passing__container {
  @include flex-settings($direction: column, $align: center);
  gap: 14px;
}
.passing__container_size_l {
  flex-grow: 2;
}
.passing__background {
  padding: 9px 0;
  @include flex-settings($justify: center);
}
.passing__background_type_blue {
  background-color: #3456F3;
  min-width: 228px;
}
.passing__background_type_gray {
  background-color: #F2F2F2;
  width: 100%;
}
.passing__time {
  @include font-settings($height: 17px, $weight: 400, $size: 14px);
  margin: 0;
}
.passing__time_type_blue {
  color: #fff;
}
.passing__direction {
  @include font-settings($height: 17px, $weight: 500, $size: 14px);
  margin: 0;
  color: $text-color;
}

@media screen and (max-width: 768px) {
  .about-project {
    @include section-settings($p-top: 90px, $p-bottom: 90px);
  }
  .project-info__desc {
    @include font-settings($height: 18px, $size: 12px);
    margin-top: 22px;
    max-width: 319px;
  }
  .passing {
    margin-top: 93px;
  }
  .passing__background_type_blue {
    min-width: 140px;
  }
  .passing__direction {
    @include font-settings($weight: 400);
  }
}