@import "../../utils/config";

.footer {
  @include font-settings($height: 16px, $weight: 400, $size: 13px);
  @include section-settings($p-top: 79px, $p-bottom: 20px, $bg: #F8F8F8);
}
.footer__title {
  @include font-settings($height: 16px, $weight: 400, $size: 13px);
  color: $text-color;
  margin: 0;
  text-align: center;
  border-bottom: $border-bottom;
  padding-bottom: 20px;
}
.footer__container {
  margin-top: 20px;
  @include flex-settings($justify: space-between);
  padding-right: 70px;
  padding-left: 70px;
}
.footer__copyright {
  margin: 0;
}
.footer__lists {
  @include flex-settings;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .footer {
    @include section-settings($bg: #FAFAFA);
  }
  .footer__container {
    padding-right: 30px;
    padding-left: 30px;
  }
}