@import "../../vendor/config";

.about-me {
  padding-top: 110px;
  padding-bottom: 100px;
}
.about-me__container {
  display: $display;
  justify-content: space-between;
  margin-top: 66px;
}
.about-me__heading {
  @include font-settings($height: 58px, $weight: 400, $size: 50px);
  margin: 0;
  letter-spacing: -0.04em;
}
.about-me__subheading {
  @include font-settings($height: 20px, $weight: 500, $size: 18px);
  margin: 18px 0 0 0;
}
.about-me__desc {
  @include font-settings($height: 22px, $weight: 400, $size: 14px);
  margin: 26px 0 0 0;
  max-width: 600px;
}
.about-me__link-github {
  @include font-settings($height: 17px, $weight: 500, $size: 14px);
  color: #000;
  display: inline-block;
  margin-top: 100px;
}
.about-me__img {
  width: 270px;
  height: 327px;
}

@media screen and (max-width: 768px) {
  .about-me {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .about-me__heading {
    @include font-settings($height: 40px, $weight: 400, $size: 40px);
  }
  .about-me__subheading {
    @include font-settings($height: 18px, $weight: 500, $size: 12px);
    margin-top: 16px;
  }
  .about-me__desc {
    @include font-settings($height: 18px, $weight: 400, $size: 12px);
    margin-top: 20px;
    max-width: 364px;
  }
  .about-me__link-github {
    margin-top: 88px;
  }
  .about-me__img {
    width: 255px;
    height: 307px;
  }
}