@import "../../utils/config";

.about-me {
  @include section-settings($p-top: 110px, $p-bottom: 100px, $bg: $section-bg-color);
}
.about-me__container {
  @include flex-settings($justify: space-between);
  margin-top: 66px;
}
.about-me__heading {
  @include font-settings($height: 58px, $weight: 400, $size: 50px);
  margin: 0;
  letter-spacing: -0.04em;
}
.about-me__subheading {
  @include font-settings($height: 20px, $weight: 500, $size: 18px);
  margin: 18px 0 0 0;
}
.about-me__desc {
  @include font-settings($height: 22px, $weight: 400, $size: 14px);
  margin: 26px 0 0 0;
  max-width: 600px;
}
.about-me__link-github {
  @include font-settings($height: 17px, $weight: 500, $size: 14px);
  display: inline-block;
  margin-top: 100px;
}
.about-me__img {
  width: 270px;
  height: 327px;
}

@media screen and (max-width: 1279px) {
  .about-me {
    @include section-settings($p-top: 90px, $p-bottom: 95px);
  }
  .about-me__heading {
    @include font-settings($height: 40px, $size: 40px);
  }
  .about-me__subheading {
    @include font-settings($height: 18px, $size: 12px);
    margin-top: 16px;
  }
  .about-me__desc {
    @include font-settings($height: 18px, $size: 12px);
    margin-top: 20px;
    max-width: 364px;
  }
  .about-me__link-github {
    margin-top: 88px;
  }
  .about-me__img {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767px) {
  .about-me {
    @include section-settings($p-top: 70px, $p-bottom: 70px);
  }
  .about-me__container {
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
  }
  .about-me__img {
    width: 292px;
    height: 352px;
    order: 1;
  }
  .about-me__container-text {
    order: 2;
    margin-top: 40px;
  }
  .about-me__heading {
    @include font-settings($height: 36px, $size: 30px);
  }
  .about-me__subheading {
    @include font-settings($height: 16px, $size: 11px);
    margin-top: 20px;
  }
  .about-me__desc {
    @include font-settings($height: 16px, $size: 11px);
    max-width: 292px;
  }
  .about-me__link-github {
    margin-top: 40px;
  }
}