@import "../../utils/config";

.sign-nav {
  @include flex-settings($align: center);
  gap: 30px;
}
.sign-nav__up {
  @include font-settings($height: 16px, $weight: 500, $size: 12px);
  color: #000;
  margin: 0;
}
.sign-nav__in {
  @include font-settings($height: 16px, $weight: 500, $size: 12px);
  color: #fff;
  background-color: #3456F3;
  padding: 8px 20px;
  border-radius: 3px;
  margin: 0;
}