@import "../../vendor/config";

.sign {
  display: $display;
  gap: 30px;
  align-items: center;
}
.sign__up {
  @include font-settings($height: 16px, $weight: 500, $size: 12px);
  color: #000;
  margin: 0;
}
.sign__in {
  @include font-settings($height: 16px, $weight: 500, $size: 12px);
  color: #fff;
  background-color: #3456F3;
  padding: 8px 20px;
  border-radius: 3px;
  margin: 0;
}